html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
img{
  max-height: 100%;
  object-fit: contain;
}
.center {
  max-width: 800px;
  width: 100%;
  text-align: left;
}